@charset "utf-8";
/* CSS Document */
{
	margin: 0;
	padding: 0;
}
body{
	background: url("../../../Downloads/543667.jpg");
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 200vh;
}
table{
	width: 600px;
	text-align: center;
	border-color: white;
}
td{
	height: 30px;
	
}
table, td{
	border-collapse: collapse;
}
thead {
	background: rgba(255,234,47,1.00);
	color:#1f1f1f;
}
tfoot{
	background: rgba(255,234,47,1.00);
	color: #1f1f1f; 

}