@charset "utf-8";
/* CSS Document */
*{
magin: 0;
padding: 0;
}
#wrapper{
	width: 100%;
}
header{
	width: 25%;
/*	background: yellow;*/
	position: fixed;
	right: 0;
	padding: 100px 50px 50px;
	box-sizing: border-box;
		
	
}
header h1{
	font-size: 18px;
	word-spacing: 3px;
	letter-spacing: 2px
	
	
}
.logo{
	margin-top: 100px;
	position: relative;
}
.logo a{
	font-size: 1.8rem;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 8px;
	
}
.line{
	width: 65%;
	height: 5px;
	background: black 87%;
	transition-duration: 1.5s;
	right: 100px;
	position: absolute;
}
.logo:hover .line{
	width: 0px;
	
}
.logo:hover a{
	color: red;
}
.menu{
	margin-top: 60px;
}
.menu ul{
	list-style: none;
}
.menu ul li{
	margin:  12px 0;
	font-size: 1.2rem;
	
	
}
.menu ul li a{
	color: black 80%;
	text-decoration: none;
	
}
.menu ul li a:hover{
	color: red;
}
.follow{
	margin-top: 50px;
}
.follow a{
	margin-right: 20px;
	color: black 80%;
	text-decoration: none;
	transition-duration: 1s;
}
.follow a:hover{
	color: red;
}
main{
	width: 75%;
	
}
.main-bg{
	background: #FFF0F0;
	width: 90%;
	padding-left: 150px;
	box-sizing: border-box;
}
.banner{
	width: 100%;
	height: 100vh;
    background: #D48E8F;
	position: relative;
}
.banner h3{
	font-size: 120px;
	position: absolute;
	color: black 10%;
	font-weight: bold;
	bottom: 220px;
	z-index: 10;
	line-height: 1;
	
}
.img-baner{
	width: 500px;
	height: 650px;
	overflow: hidden;
	position: absolute;
	z-index: 6;
	right: -50px;
	top: 80px;
}