@charset "utf-8";
/* CSS Document */
{
	margin: 0;
	padding: 0;
	background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.logo{
	padding-top: 10px;
}
.logo ul{
	list-style: none;
}
.menu{
	height: 100px;
}
.menu ul{
	list-style: none;
	display: flex;
	justify-content: center;
	padding-top: 62px; 
}
.menu ul li a{
	color:#1F1F1F;
	text-decoration: none;
	display: block;
	padding: 10px 25px;
	font-size: 25px
}
.menu ul li:hover{
	background:#F33639;	
}
.sub-menu{
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100px;
	top: 100px;
	margin-left: -7px;
	visibility: hidden;
/*	background: grey;*/
}
.sub-menu li{
	border: none !important;}
.menu ul li:hover .sub-menu{
	visibility: visible;
}
.main h1{
	font-size: 70px;
	text-align: center;
	color: #1F1F1F
}
.main h2{
	font-size: 80px;
	text-align: center;
	color: #F33639;
}
.main-menu ul{
	list-style: none;
	display: flex;
	justify-content: center;
}
.main-menu	ul li a{
	color:#1F1F1F;
	text-decoration: none;
	display: flex;
	padding: 0px 30px;
	font-size: 20px;
}
.main-menu ul li a:hover{
	border-bottom: solid 1px #F33639;
	color: #F33639
	
}
.main img{
	width: 100%;
}
h3{
	font-size: 20px;
	text-decoration-line: underline;
	text-transform: uppercase
}
h4{
	font-size: 20px;
	margin-left: 30px
}
.info{
	margin-left: 150px
}