@charset "utf-8";
/* CSS Document */
{
	margin: 0;
	padding: 0:
}
.logo img{
	width: 100%;
}
.menu{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.menu-top{
	
}
.menu-bot{
	
}
.menu ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
.menu-top ul li{
	padding-left: 20px
}
.menu-top ul li a{
	text-decoration: none;
	color: #1f1f1f;
	font-size: 20px;
}
.menu-bot ul li{
	padding-left: 60px
}
.menu-bot ul li a{
	text-decoration: none;
	font-size: 25px;
	color: #1f1f1f;
	font-weight: bold;
}